// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Sidebar Custom Styles (Adicione esta linha abaixo)
@import 'sidebar';
